<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>324617674651-mdumnn2gdtp30jghrbcogub35drb9k7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324617674651-mdumnn2gdtp30jghrbcogub35drb9k7n</string>
	<key>API_KEY</key>
	<string>AIzaSyD1npnm1_En9CdVI7K2LmfmkeKUjE0b1nM</string>
	<key>GCM_SENDER_ID</key>
	<string>324617674651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clapwatermelon.DBDiary</string>
	<key>PROJECT_ID</key>
	<string>dbdiary-4d9ba</string>
	<key>STORAGE_BUCKET</key>
	<string>dbdiary-4d9ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324617674651:ios:8cf537c20f4bc063</string>
	<key>DATABASE_URL</key>
	<string>https://dbdiary-4d9ba.firebaseio.com</string>
</dict>
</plist>